<div class="posts">
  <div class="post-card">
    <ul class="comment_list">
            <li>
                <div class="post_card" data-depth="0">
                    <figure class="figure">
                        <img class="image" src="https://newsfeedtemplate.netlify.com/img/user01.jpg" alt="Naveen Pantra"/>
                        <figcaption class="fig_caption">
                            <h5 class="name">{{title}}</h5>
                            <h6 class="user">{{user.username}}</h6>
                            <p class="date">{{ format_date createdAt }}</p>
                        </figcaption>
                    </figure>
                    <article class="post_text">
                        {{body}}
                    </article>
                    <div class="comment_options">
                        <button id="commentButton"> Show Comments</button>  
                    </div>
                    <div id="comments"class="postscomments">
                        {{#each comments }} 
                        {{>comment this }}
                        {{/each}}   
                    </div>
                    <div class="comment_edit">
                        <h5>Write a comment</h5>
                       <textarea name="comment_edit" id="comment_edit" class="comment_edit_textarea" cols="0" rows="0"></textarea>
                       <p class="comment_message">Please enter more than one character to accept comment.</p>
                        <div class="comment_edit_options">
                            <button data-action="submit">Submit</button>
                            <button data-action="cancel">Cancel</button>
                        </div> 
                    </div>
                </div>
            </li>
        </ul>
  </div>       
</div>

