
{{! A boilerplate dashboard layout is completed for you, feel free to modify and style to your liking }}

<html>
<head>
	<title>Tune-In</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/dash.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
<!-- NAV -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-music" aria-hidden="true"></span> Tune-In</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/users-post">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/" id="logout-link">logout <i class="fa fa-user" aria-hidden="true"></i></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Start of CONTAINER -->

<!-- JUMBOTRON -->
<div class="jumbotron">
  <h1><i class="fa" aria-hidden="true"></i> Welcome {{user.username}}</h1>
  <p>jjkahsjkhdjkah jdjshdjhs djshjdhj dshoaheoh</p>
  <p><a class="btn btn-primary btn-lg" href ="/dashboard/create" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create post</a></p>
</div>

<!-- end of CONTAINER -->

<!-- JS SCRIPTS -->
<script src="https://code.jquery.com/jquery-3.1.1.js"i ntegrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>

    <main>
      {{{body}}}
    </main>
  </body>

</html>
{{! inline script to handle click of logout button }}
<script>
  const logout = async function() { const response = await
  fetch('/api/user/logout', { method: 'POST', headers: { 'Content-Type':
  'application/json' }, }); if (response.ok) { document.location.replace('/'); }
  else { alert('Failed to log out'); } };
  document.querySelector('#logout-link').addEventListener('click', logout);
</script>