{{!-- where all users post are shown  --}}
{{!-- <a href ="/dashboard/create"  style="margin-top: 5px;" class ="create pl-3">Create Post</a> --}}
<div class="jumbotron">
  <h1><i class="fa" aria-hidden="true"></i> Welcome </h1>
  <p>jjkahsjkhdjkah jdjshdjhs djshjdhj dshoaheoh</p>
  <p><a class="btn btn-primary btn-lg" href ="/dashboard/create" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create post</a></p>
</div>
<div class="all-posts">
{{#each posts }}
{{>post this }}
{{/each}}
</div>