{{!-- where all users post are shown  --}}
{{!-- <a href ="/dashboard/create"  style="margin-top: 5px;" class ="create pl-3">Create Post</a> --}}

<h2 style="margin-left:50rem;">All Posts</h2>
<div class="col-md-8">
{{#each posts as | post | }}
{{> post }}
{{/each}}
</div>