{{!-- where users can see all their posts --}}
<div class="jumbotron">
  <h1><i class="fa" aria-hidden="true"></i> Profile </h1>
  <p>jjkahsjkhdjkah jdjshdjhs djshjdhj dshoaheoh</p>
  {{!-- <p><a class="btn btn-primary btn-lg" href ="/dashboard/profile" role="button"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Create post</a></p> --}}
</div>
<div class="col-md-8">
{{#each posts as | post | }}
{{> post }}
{{/each}}
</div>